/* =========================
   ALLAZHAR - HOME PAGE
   ========================= */

#home-hero {
    border-bottom: 4px solid #dff3ff;
}

.home-hero {
    width: min(1120px, 92%);
    margin: 40px auto 0;

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;

    background-color: #f4fbff;
    border-radius: 20px;
    overflow: hidden;
}

.home-hero-image img {
    width: 100%;
    height: 450px;

    display: block;
    object-fit: cover;
}

.home-hero-content {
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-hero-content h1 {
    margin-bottom: 20px;

    font-size: 3rem;
    line-height: 1.1;
}

.home-description {
    color: #58758b;
}

.home-intro {
    max-width: 800px;
    text-align: center;
}

.home-intro h2 {
    margin-bottom: 15px;
    font-size: 2.3rem;
}


/* =========================
   ALLAZHAR - ABOUT PAGE
   ========================= */

#about-hero {
    border-bottom: 4px solid #dff3ff;
}

.about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 50px;
    align-items: center;
}

.about-main-text h2 {
    margin-bottom: 18px;
    font-size: 2.3rem;
}

.about-description {
    color: #58758b;
}

.about-image {
    width: 100%;
    height: 330px;

    display: block;
    object-fit: cover;

    border-radius: 16px;
}


/* =========================
   MOBILE
   ========================= */

@media (max-width: 850px) {

    .home-hero {
        grid-template-columns: 1fr;
    }

    .home-hero-image img {
        height: 280px;
    }

    .home-hero-content {
        padding: 35px 25px;
    }

    .home-hero-content h1 {
        font-size: 2.3rem;
    }

    .about-main {
        grid-template-columns: 1fr;
    }
}